1) Importe os dados e verifique as primeiras linhas do dataset **insurance.csv**. Verifique também as últimas linhas do dataset.

In [3]:
import pandas as pd
import numpy as np
dataset1 = pd.read_csv(r"G:\My Drive\1. Pessoal\Estudos\Python\Universidade_Dados\Pandas\Pandas_p1\dataset p1\insurance.csv")

In [ ]:
dataset1.head() # Primeiras
dataset1.tail() # últimas

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

2) Verifique se existe algum valor missing no dataset.

In [ ]:
dataset1.isnull().sum() # Somando valores nulos (zero)

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

3) Quanto de memória o dataset está consumindo?

In [ ]:
dataset1.memory_usage(deep=True) # Por coluna
dataset1.memory_usage().sum() # Total

np.int64(75060)

4) Gere as estatísticas descritivas das colunas numéricas do dataset. Qual a mediana da coluna BMI? E a média? Qual desses valores é maior? O que isso significa?

In [ ]:
dataset1.describe() # A média (30.66) é maior que a mediana (Q2/50%-30.40). Isso significa que valores altos elevam a média (Assimetria positiva), possível outlier.

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

5) Qual a proporção de fumantes no nosso dataset? E de não fumantes?

In [14]:
dataset1['smoker'].value_counts(normalize=True).map('{:.2%}'.format)

smoker
no     79.52%
yes    20.48%
Name: proportion, dtype: object

6) Existe alguma diferença na cobrança para fumantes e não fumantes?

In [5]:
dataset1.groupby(['smoker'])['charges'].sum().map('{:,.2f}'.format)

smoker
no     8,974,061.47
yes    8,781,763.52
Name: charges, dtype: object

7) Qual a média de BMI para fumantes?

In [28]:
dataset1.groupby(['smoker'])['bmi'].mean()

smoker
no     30.651795
yes    30.708449
Name: bmi, dtype: float64

8) Existe alguma diferença de cobrança para quem tem filhos? Identifique se ter filhos parece acarretar numa cobrança maior olhando a média de charges para quem tem 0 filhos e a média para quem tem 1 ou mais filhos.

In [ ]:
# Criando coluna para identificar quem tem filhos e quem não tem filhos
dataset1['temFilho'] = np.where(
    dataset1['children'] > 0,
    'sim',
    'nao'
)

In [ ]:
# Gerando valores
dataset1.groupby(['temFilho'])['charges'].mean().map('R${:,.2f}'.format)

temFilho
nao    R$12,365.98
sim    R$13,949.94
Name: charges, dtype: object

In [52]:
dataset1.head()

   age     sex     bmi  children smoker     region      charges temFilho
0   19  female  27.900         0    yes  southwest  16884.92400      nao
1   18    male  33.770         1     no  southeast   1725.55230      sim
2   28    male  33.000         3     no  southeast   4449.46200      sim
3   33    male  22.705         0     no  northwest  21984.47061      nao
4   32    male  28.880         0     no  northwest   3866.85520      nao

9) Para o homem, o BMI de 20 a 24,9 é considerado normal. Acima disso, é considerado acima do peso, abaixo é considerado abaixo do peso. Crie uma nova coluna, chamada "bmi_male" que receberá o texto "abaixo do normal" para BMI abaixo de 20, "normal" para BMI de 20 a 24,9 e "acima do normal" para BMI acima de 24,9.

In [5]:
dataset1['bmi_male'] = np.where(
    dataset1['sex'] == 'male',
    np.where(
        dataset1['bmi'] < 20, 'abaixo do normal',
        np.where(
            dataset1['bmi'] <= 24.9, 'normal',
            'acima do normal'
        )
    ),
    ''
)

In [6]:
dataset1['bmi_male'].value_counts(normalize=True).map('{:.2%}'.format)

bmi_male
                    49.48%
acima do normal     42.00%
normal               7.10%
abaixo do normal     1.42%
Name: proportion, dtype: object

10) Se uma homem é fumante e ainda tem um BMI acima do considerado normal, é possível que isso seja um indicador negativo para a seguradora. Quantos homens estão nessa situação?

In [ ]:
dataset1['bmi_male'].value_counts().loc['acima do normal']
dataset1[dataset1['bmi_male'] == 'acima do normal'].shape[0]

562

11) Carregue o dataset **amazon.csv** e crie uma mensagem ao leitor do notebook falando quantas linhas e colunas possui o DataFrame.

In [6]:
dataset2 = pd.read_csv(r'G:\My Drive\1. Pessoal\Estudos\Python\Universidade_Dados\Pandas\Pandas_p1\dataset p1\amazon.csv', encoding='latin1')
dataset2.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [10]:
n_linhas = dataset2.shape[0]
n_colunas = dataset2.shape[1]
print(f'Leitor, o dataset de incêndios florestais possui:\n{n_linhas} linhas;\n{n_colunas} colunas.')

Leitor, o dataset de incêndios florestais possui:
6454 linhas;
5 colunas.

12) Utilize loc e iloc para exibir da linha 100 até a linha 120 da segunda, terceira e quarta coluna. Qual a diferença das duas sintaxes feitas?

In [ ]:
dataset2.iloc[100:121,1:4] # Localizador é o index

    state  month  number
100  Acre  Junho     3.0
101  Acre  Junho     0.0
102  Acre  Junho     1.0
103  Acre  Junho     1.0
104  Acre  Junho     0.0
105  Acre  Junho     0.0
106  Acre  Junho     5.0
107  Acre  Junho    27.0
108  Acre  Junho     1.0
109  Acre  Junho     4.0
110  Acre  Junho     0.0
111  Acre  Junho     0.0
112  Acre  Junho     1.0
113  Acre  Junho    10.0
114  Acre  Junho     7.0
115  Acre  Junho     8.0
116  Acre  Junho    17.0
117  Acre  Junho    40.0
118  Acre  Junho    87.0
119  Acre  Junho    45.0
120  Acre  Julho    37.0

In [ ]:
dataset2.loc[100:121,['state', 'month', 'number']] # Localizador é o nome das coluna

    state  month  number
100  Acre  Junho     3.0
101  Acre  Junho     0.0
102  Acre  Junho     1.0
103  Acre  Junho     1.0
104  Acre  Junho     0.0
105  Acre  Junho     0.0
106  Acre  Junho     5.0
107  Acre  Junho    27.0
108  Acre  Junho     1.0
109  Acre  Junho     4.0
110  Acre  Junho     0.0
111  Acre  Junho     0.0
112  Acre  Junho     1.0
113  Acre  Junho    10.0
114  Acre  Junho     7.0
115  Acre  Junho     8.0
116  Acre  Junho    17.0
117  Acre  Junho    40.0
118  Acre  Junho    87.0
119  Acre  Junho    45.0
120  Acre  Julho    37.0
121  Acre  Julho     1.0

13) Qual o total de incêndios que ocorreram no Brasil no ano de 2010?

In [63]:
total_incendios = dataset2['number'].sum()
n_formatado = f'{total_incendios:,.2f}'.replace(',','x').replace('.',',').replace('x','.')
print(f'Total de incêndios no Brasil: {n_formatado}')

Total de incêndios no Brasil: 698.924,07

14) Qual a média de incêndios por mês no estado do Acre? E o desvio padrão?

In [ ]:
acre = dataset2['state'] == 'Acre' # Definindo o Estado
media = dataset2.groupby('month')['number'].mean()
desvio = dataset2.groupby('month')['number'].std()

print(f'Média de incêndios por mês no Acre: \n{media}\nO desvio padrão de incêndios por mês no Acre:\n{desvio}')

Média de incêndios por mês no Acre:
month
Abril         52.201426
Agosto       163.056361
Dezembro     112.154932
Fevereiro     57.126019
Janeiro       88.258492
Julho        170.974283
Junho        103.723472
Maio          64.317339
Março         56.884083
Novembro     158.348248
Outubro      164.225146
Setembro     108.478343
Name: number, dtype: float64
O desvio padrão de incêndios por mês no Acre:
month
Abril        107.679833
Agosto       280.869887
Dezembro     164.171141
Fevereiro    102.932132
Janeiro      135.499845
Julho        252.095117
Junho        176.695510
Maio         133.846670
Março        108.978904
Novembro     213.809177
Outubro      240.341376
Setembro     198.489059
Name: number, dtype: float64

15) Qual estado possui a maior média de incêndios por mês? E qual possui a menor?

In [84]:
import pandas as pd

# Suponha que o DataFrame já esteja carregado como dataset2
media_por_estado = dataset2.groupby('state')['number'].mean()

estado_maior_media = media_por_estado.idxmax()
valor_maior_media = media_por_estado.max()

estado_menor_media = media_por_estado.idxmin()
valor_menor_media = media_por_estado.min()

print(f"O estado com MAIOR MÉDIA de incêndios por mês é: {estado_maior_media} ({valor_maior_media:.2f} incêndios/mês)")
print(f"O estado com MENOR MÉDIA de incêndios por mês é: {estado_menor_media} ({valor_menor_media:.2f} incêndios/mês)")

O estado com MAIOR MÉDIA de incêndios por mês é: Sao Paulo (213.90 incêndios/mês)
O estado com MENOR MÉDIA de incêndios por mês é: Sergipe (13.54 incêndios/mês)

16) Crie uma coluna chamada regiao_sudeste e marque com 1 para quando a observação pertencer a um destes estados e 0, caso contrário. Faça o mesmo para a região centro-oeste. Qual a diferença no total de incêndios dessas regiões? Qual região possui mais incêndios? Consulte a internet para entender por qual motivo uma das regiões possui mais incêndio que a outra.

In [87]:
sudeste = ['São Paulo','Rio de Janeiro','Minas Gerais','Espírito Santo']
centro_oeste = ['Goiás','Mato Grosso','Mato Grosso do Sul','Distrito Federal']

dataset2['regiao_sudeste'] = dataset2['state'].isin(sudeste).astype(int)
dataset2['regiao_centro_oeste'] = dataset2['state'].isin(centro_oeste).astype(int)


tot_sudeste = dataset2.loc[dataset2['regiao_sudeste'] == 1, 'number'].sum()
tot_centro_oeste = dataset2.loc[dataset2['regiao_centro_oeste'] == 1, 'number'].sum()

print(f"Total incêndios Sudeste: {tot_sudeste:,.0f}")
print(f"Total incêndios Centro‑Oeste: {tot_centro_oeste:,.0f}")

diff = tot_sudeste - tot_centro_oeste
print(f"Diferença (Sudeste − Centro‑Oeste): {diff:,.0f}")

mais = "Sudeste" if tot_sudeste > tot_centro_oeste else "Centro‑Oeste"
print(f"Região com mais incêndios: {mais}")

Total incêndios Sudeste: 37,475
Total incêndios Centro‑Oeste: 99,807
Diferença (Sudeste − Centro‑Oeste): -62,332
Região com mais incêndios: Centro‑Oeste